**Disclaimer**
- Due to sensitive material being gathered, some information has been altered to keep privacy of students.

# Import the dataset
- df is the dataset with all the scrapped info

In [106]:
import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [107]:
import pandas as pd
df1 = pd.read_csv('df1.csv')

# Data Processing

In [31]:
df1.drop(['Unnamed: 0'], axis=1, inplace=True)

#### Replace empty comments with appropriate values

- Replace all the empty comments ('') with No Comment.
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html

In [32]:
df1 = df1.replace({"''": ' No Comment '})

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 21 columns):
student_ids        886 non-null int64
Grade Average 7    886 non-null int64
Grade Average 8    886 non-null int64
Math_7_score       886 non-null int64
ELA_7_score        886 non-null int64
Math_8_score       886 non-null int64
ELA_8_score        886 non-null int64
Absent Grade 7     886 non-null int64
Tardy Grade 7      886 non-null int64
Absent Grade 8     886 non-null int64
Tardy Grade 8      886 non-null int64
Gender             886 non-null object
Comment_1          886 non-null object
Comment_2          886 non-null object
Comment_3          886 non-null object
Comment_4          886 non-null object
Comment_5          886 non-null object
Comment_6          885 non-null object
Comment_7          870 non-null object
Comment_8          761 non-null object
target             886 non-null int64
dtypes: int64(12), object(9)
memory usage: 145.5+ KB

- Comment_6, Comment_7, and Comment_8 are missing values.  To find where the missing are located use, `np.where(pd.isnull(df))`
    - How to read it: The top array is the row and bottom array is the column.  
    - To find what that row and column show use: `df[column_name][row]`
- Change all nan to 'No Comment'

In [35]:
import numpy as np
np.where(pd.isnull(df1))

(array([228, 229, 233, 236, 238, 241, 257, 260, 263, 264, 265, 268, 275,
        282, 287, 289, 307, 311, 314, 319, 319, 322, 325, 328, 359, 362,
        362, 376, 381, 383, 388, 396, 400, 404, 410, 416, 417, 424, 425,
        428, 428, 431, 432, 437, 444, 444, 445, 447, 448, 452, 458, 460,
        461, 468, 468, 482, 483, 483, 485, 489, 492, 497, 498, 498, 498,
        508, 510, 517, 517, 520, 527, 527, 535, 547, 569, 571, 576, 579,
        591, 594, 597, 600, 601, 604, 605, 606, 610, 613, 630, 632, 634,
        637, 637, 642, 643, 663, 666, 668, 673, 673, 674, 683, 683, 696,
        699, 700, 708, 710, 713, 722, 723, 739, 739, 740, 745, 747, 755,
        760, 762, 762, 772, 777, 778, 782, 788, 802, 806, 814, 818, 820,
        823, 828, 831, 832, 832, 833, 837, 849, 857, 863, 876, 876]),
 array([19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
        19, 19, 18, 19, 19, 19, 19, 19, 18, 19, 19, 19, 19, 19, 19, 19, 19,
        19, 19, 19, 19, 19, 18, 19, 19, 19, 19, 18, 19, 19, 19, 19, 19, 19,
        19, 19, 18, 19, 19, 18, 19, 19, 19, 19, 19, 17, 18, 19, 19, 19, 18,
        19, 19, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
        19, 19, 19, 19, 19, 19, 18, 19, 19, 19, 19, 19, 19, 18, 19, 19, 18,
        19, 19, 19, 19, 19, 19, 19, 19, 19, 18, 19, 19, 19, 19, 19, 19, 18,
        19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 18, 19, 19,
        19, 19, 19, 19, 18, 19]))

In [36]:
#  Column 19 - Row 428
df1['Comment_8'][275]

nan

In [37]:
# Column 18 - Row 319
df1['Comment_7'][319]

nan

- How to fill nan values:
    - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

In [38]:
df1.fillna(value=' No Comment ', inplace=True)

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 21 columns):
student_ids        886 non-null int64
Grade Average 7    886 non-null int64
Grade Average 8    886 non-null int64
Math_7_score       886 non-null int64
ELA_7_score        886 non-null int64
Math_8_score       886 non-null int64
ELA_8_score        886 non-null int64
Absent Grade 7     886 non-null int64
Tardy Grade 7      886 non-null int64
Absent Grade 8     886 non-null int64
Tardy Grade 8      886 non-null int64
Gender             886 non-null object
Comment_1          886 non-null object
Comment_2          886 non-null object
Comment_3          886 non-null object
Comment_4          886 non-null object
Comment_5          886 non-null object
Comment_6          886 non-null object
Comment_7          886 non-null object
Comment_8          886 non-null object
target             886 non-null int64
dtypes: int64(12), object(9)
memory usage: 145.5+ KB

- Check to make sure it worked

In [40]:
df1['Comment_7'][319]

' No Comment '

- Look through each comment by using `df.values` to see what the dataset is showing.
    - Could be good to go through each to see, which comments have names in them in order to change

#### Comment_1 - change names

In [41]:
# https://www.geeksforgeeks.org/python-pandas-series-str-replace-to-replace-text-in-a-series/
df1["Comment_1"]= df1["Comment_1"].str.replace("Student_name", "Student") 
df1["Comment_1"]= df1["Comment_1"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_1"]= df1["Comment_1"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_1"]= df1["Comment_1"].str.replace("Student_name", "Student") 
df1["Comment_1"]= df1["Comment_1"].str.replace("Student_name", "Student") 
df1["Comment_1"]= df1["Comment_1"].str.replace("Student_name", "Student") 
df1["Comment_1"]= df1["Comment_1"].str.replace("Student_name", "Student")
df1["Comment_1"]= df1["Comment_1"].str.replace("Student_name", "Student")
df1["Comment_1"]= df1["Comment_1"].str.replace("Student_name", "Student")
df1["Comment_1"]= df1["Comment_1"].str.replace("Student_name", "Student")
df1["Comment_1"]= df1["Comment_1"].str.replace("Date", "Some Date")
df1["Comment_1"]= df1["Comment_1"].str.replace("'\\'", "' '")

#### Comment_2 - Change names

In [42]:
df1["Comment_2"]= df1["Comment_2"].str.replace("Student_name", "Student") 
df1["Comment_2"]= df1["Comment_2"].str.replace("Teacher_name", "Teacher Email")
df1["Comment_2"]= df1["Comment_2"].str.replace("Teacher_name", "Teacher Email")
df1["Comment_2"]= df1["Comment_2"].str.replace("Student_name", "Student") 
df1["Comment_2"]= df1["Comment_2"].str.replace("Student_name", "Student") 
df1["Comment_2"]= df1["Comment_2"].str.replace("2", "two")
df1["Comment_2"]= df1["Comment_2"].str.replace("'\\'", "' '")

#### Comment_3 - change names

In [43]:
df1["Comment_3"]= df1["Comment_3"].str.replace("Student_name", "Student") 
df1["Comment_3"]= df1["Comment_3"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_3"]= df1["Comment_3"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_3"]= df1["Comment_3"].str.replace("Student_name", "Student") 
df1["Comment_3"]= df1["Comment_3"].str.replace("Student_name", "Student") 
df1["Comment_3"]= df1["Comment_3"].str.replace("Student_name", "Student") 
df1["Comment_3"]= df1["Comment_3"].str.replace("Date", "Some date") 
df1["Comment_3"]= df1["Comment_3"].str.replace("'\\'", "' '")
df1["Comment_3"]= df1["Comment_3"].str.replace("=", "' '")

#### Comment_4 - change names

In [44]:
df1["Comment_4"]= df1["Comment_4"].str.replace("Student_name", "Student") 
df1["Comment_4"]= df1["Comment_4"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_4"]= df1["Comment_4"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_4"]= df1["Comment_4"].str.replace("Date", "Some date") 
df1["Comment_4"]= df1["Comment_4"].str.replace("7", "seven")
df1["Comment_4"]= df1["Comment_4"].str.replace("'\\'", "' '")
df1["Comment_4"]= df1["Comment_4"].str.replace("/", ",")

#### Comment_5 - change names

In [45]:
df1["Comment_5"]= df1["Comment_5"].str.replace("Student_name", "Student") 
df1["Comment_5"]= df1["Comment_5"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_5"]= df1["Comment_5"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_5"]= df1["Comment_5"].str.replace("Student_name", "Student") 
df1["Comment_5"]= df1["Comment_5"].str.replace("Student_name", "Student") 
df1["Comment_5"]= df1["Comment_5"].str.replace("'\\'", "' '")
df1["Comment_5"]= df1["Comment_5"].str.replace("4", "four")
df1["Comment_5"]= df1["Comment_5"].str.replace("/", ",")

#### Comment_6 - change names

In [46]:
df1["Comment_6"]= df1["Comment_6"].str.replace("Student_name", "Student") 
df1["Comment_6"]= df1["Comment_6"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_6"]= df1["Comment_6"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_6"]= df1["Comment_6"].str.replace("Student_name", "Student") 
df1["Comment_6"]= df1["Comment_6"].str.replace("Date", "Some date") 
df1["Comment_6"]= df1["Comment_6"].str.replace("Date", "Some date")
df1["Comment_6"]= df1["Comment_6"].str.replace("Student_name", "Student") 
df1["Comment_6"]= df1["Comment_6"].str.replace("Student_name", "Student") 
df1["Comment_6"]= df1["Comment_6"].str.replace("Student_name", "Student") 
df1["Comment_6"]= df1["Comment_6"].str.replace("Date", "Some date")
df1["Comment_6"]= df1["Comment_6"].str.replace("Student_name", "Student") 
df1["Comment_6"]= df1["Comment_6"].str.replace("Student_name", "Student") 
df1["Comment_6"]= df1["Comment_6"].str.replace("Student_name", "Student") 
df1["Comment_6"]= df1["Comment_6"].str.replace("'\\'", "' '")
df1["Comment_6"]= df1["Comment_6"].str.replace("/", ",")
df1["Comment_6"]= df1["Comment_6"].str.replace("4", "four")
df1["Comment_6"]= df1["Comment_6"].str.replace("80%", "Eighty percent")
df1["Comment_6"]= df1["Comment_6"].str.replace("100%", "one hundred percent")
df1["Comment_6"]= df1["Comment_6"].str.replace("30", "thirty")

#### Comment_7 - change names

In [47]:
df1["Comment_7"]= df1["Comment_7"].str.replace("Student_name", "Student") 
df1["Comment_7"]= df1["Comment_7"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_7"]= df1["Comment_7"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_7"]= df1["Comment_7"].str.replace("Student_name", "Student") 
df1["Comment_7"]= df1["Comment_7"].str.replace("Student_name", "Student") 
df1["Comment_7"]= df1["Comment_7"].str.replace("Student_name", "Student") 
df1["Comment_7"]= df1["Comment_7"].str.replace("Student_name", "Student") 
df1["Comment_7"]= df1["Comment_7"].str.replace("Student_name", "Student") 
df1["Comment_7"]= df1["Comment_7"].str.replace("Date", "Some date") 
df1["Comment_7"]= df1["Comment_7"].str.replace("Student_name", "Student") 
df1["Comment_7"]= df1["Comment_7"].str.replace("'\\'", "' '")
df1["Comment_7"]= df1["Comment_7"].str.replace("50", "fifty")
df1["Comment_7"]= df1["Comment_7"].str.replace('"0"', "zero")

#### Comment_8 - change names

In [48]:
df1["Comment_8"]= df1["Comment_8"].str.replace("Student_name", "Student") 
df1["Comment_8"]= df1["Comment_8"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_8"]= df1["Comment_8"].str.replace("Teacher_Email", "Teacher Email")
df1["Comment_8"]= df1["Comment_8"].str.replace("Date", "Some date") 
df1["Comment_8"]= df1["Comment_8"].str.replace("Student_name", "Student") 
df1["Comment_8"]= df1["Comment_8"].str.replace("Student_name", "Student") 
df1["Comment_8"]= df1["Comment_8"].str.replace("Student_name", "Student") 
df1["Comment_8"]= df1["Comment_8"].str.replace("Student_name", "Student") 
df1["Comment_8"]= df1["Comment_8"].str.replace("'\\'", "' '")
df1["Comment_8"]= df1["Comment_8"].str.replace("Date", "Some date")

# Feature Engineering

### Average and total for absent, tardy, and scores
- Total absent and tardy for each student in their middle school years
- Average grade for middle school years per student
- Average Math score for middle school years per student
- Average ELA score for middle school years per student

In [49]:
df1['Absent Total'] = (df1['Absent Grade 7']+df1['Absent Grade 8'])
df1['Tardy Total'] = (df1['Tardy Grade 7']+df1['Tardy Grade 8'])
df1['Average Grade MS'] = (df1['Grade Average 7']+df1['Grade Average 8'])/2
df1['Average Math Score'] = (df1['Math_7_score']+df1['Math_8_score'])/2
df1['Average ELA Score'] = (df1['ELA_7_score']+df1['ELA_8_score'])/2

### Prefabricated Comments

In [50]:
df1.iloc[:, 12:20].values

array([["'Demonstrates above average ability, motivation and attitude in this class--'",
        "'Demonstrates outstanding effort--'",
        "'Meets acceptable standards of cooperation, work, attitude and effort - '",
        ..., ' No Comment ',
        "'Conscientious about classroom responsibilities--'",
        "'Demonstrates outstanding effort--'"],
       ["'Meets acceptable standards of cooperation, work, attitude and effort - '",
        "'Meets acceptable standards of cooperation, work, attitude and effort - '",
        "'Meets acceptable standards of cooperation, work, attitude and effort - '",
        ..., ' No Comment ',
        "'Conscientious about classroom responsibilities--'",
        "'Meets acceptable standards of cooperation, work, attitude and effort - '"],
       ["'Incomplete work--'", "'Poor test scores--'",
        "'Meets acceptable standards of cooperation, work, attitude and effort - '",
        ..., ' No Comment ', ' No Comment ', ' No Comment '],
       ...,
       ["'Poor test scores--'", "'Poor class attendance--'",
        ' No Comment ', ...,
        "'Should make up work when it is missing right away.  Ask for help if needed..'",
        ' No Comment ',
        "'Meets acceptable standards of cooperation, work, attitude and effort - '"],
       ["'Poor test scores--'",
        "'Meets acceptable standards of cooperation, work, attitude and effort - '",
        "'Inattentiveness in class--'", ...,
        "'Meets acceptable standards of cooperation, work, attitude and effort - '",
        "'Student can show more effort and attentiveness.- Estudiante puede mostrar mejor esfuerzo y puede poner mas atencion a la clase.'",
        ' No Comment '],
       [' No Comment ', ' No Comment ', ' No Comment ', ...,
        ' No Comment ', ' No Comment ', ' No Comment ']], dtype=object)

In [51]:
above_average = []
meet_acceptable = []
incomplete_work = []
outstanding = []
unprepared_class = []
inattentive = []
poor_test = []
conscientious = []
improvement = []
homework = []
parent = []
poor_class = []
late = []

for comment in df1.iloc[:, 12:20].values:
    above_average_ = 0
    meet_acceptable_ = 0
    incomplete_work_ = 0
    outstanding_ = 0
    unprepared_class_ = 0
    inattentive_ = 0
    poor_test_ = 0
    conscientious_ = 0
    improvement_ = 0
    homework_ = 0
    parent_ = 0
    poor_class_ = 0
    late_ = 0
    for student in comment:
        if "Demonstrates above average ability, motivation and attitude in this class" in student:
            above_average_ +=1
        elif "Meets acceptable standards of cooperation, work, attitude and effort" in student:
            meet_acceptable_ +=1
        elif "Incomplete work" in student:
            incomplete_work_ +=1
        elif "Demonstrates outstanding effort" in student:
            outstanding_ +=1
        elif "Unprepared for class" in student:
            unprepared_class_ +=1
        elif "Inattentiveness in class" in student:
            inattentive_ +=1
        elif "Poor test scores" in student:
            poor_test_ +=1
        elif "Conscientious about classroom responsibilities" in student:
            conscientious_ +=1
        elif "Improvement noted" in student:
            improvement_ +=1
        elif "Incomplete homework" in student:
            homework_ +=1
        elif "Parent conference requested" in student:
            parent_ +=1
        elif "Poor class attendance" in student:
            poor_class_ +=1
        elif "Excessive lateness" in student:
            late_ +=1
    above_average.append(above_average_)
    meet_acceptable.append(meet_acceptable_)
    incomplete_work.append(incomplete_work_)
    outstanding.append(outstanding_)
    unprepared_class.append(unprepared_class_)
    inattentive.append(inattentive_)
    poor_test.append(poor_test_)
    conscientious.append(conscientious_)
    improvement.append(improvement_)
    homework.append(homework_)
    parent.append(parent_)
    poor_class.append(poor_class_)
    late.append(late_)

In [52]:
len(above_average)

886

### Make lists to dataframes

In [53]:
above_average_comments = pd.DataFrame(above_average, columns=['Num of Above Average Comments'])
meets_acceptable_comments = pd.DataFrame(meet_acceptable, columns=['Num of Meets Acceptable Comments'])
incomplete_work_comments = pd.DataFrame(incomplete_work, columns=['Num of Incomplete Work Comments'])
outstanding_effort_comments = pd.DataFrame(outstanding, columns=['Num of Outstanding Effort Comments'])
unprepared_class_comments = pd.DataFrame(unprepared_class, columns=['Num of Unprepared for Class Comments'])
inattentive_class_comments = pd.DataFrame(inattentive, columns=['Num of Inattentive in Class Comments'])
poor_test_comments = pd.DataFrame(poor_test, columns=['Num of Poor Tests Comments'])
conscientious_comments = pd.DataFrame(conscientious, columns=['Num of Conscientious Comments'])
improvement_comments = pd.DataFrame(improvement, columns=['Num of Improvement Noted Comments'])
homework_comments = pd.DataFrame(homework, columns=['Num of Imcomplete Homework Comments'])
parent_comments = pd.DataFrame(parent, columns=['Num of Parent Conference Requested Comments'])
poor_class_comments = pd.DataFrame(poor_class, columns=['Num of Poor Class Attendance Comments'])
late_comments = pd.DataFrame(late, columns=['Num of Excessive Lateness Comments'])

#### Concat the new columns to `df1`.

In [54]:
df1 = pd.concat([df1, above_average_comments, meets_acceptable_comments, incomplete_work_comments,
              outstanding_effort_comments, unprepared_class_comments, inattentive_class_comments,
              poor_test_comments, conscientious_comments, improvement_comments, homework_comments, 
              parent_comments, poor_class_comments, late_comments], axis=1)

#### Save the new `df1`.

In [55]:
df1.to_csv('df2.csv')

In [56]:
import pandas as pd
df2 = pd.read_csv('df2.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 40 columns):
Unnamed: 0                                     886 non-null int64
student_ids                                    886 non-null int64
Grade Average 7                                886 non-null int64
Grade Average 8                                886 non-null int64
Math_7_score                                   886 non-null int64
ELA_7_score                                    886 non-null int64
Math_8_score                                   886 non-null int64
ELA_8_score                                    886 non-null int64
Absent Grade 7                                 886 non-null int64
Tardy Grade 7                                  886 non-null int64
Absent Grade 8                                 886 non-null int64
Tardy Grade 8                                  886 non-null int64
Gender                                         886 non-null object
Comment_1                                      886 non-null object
Comment_2                                      886 non-null object
Comment_3                                      886 non-null object
Comment_4                                      886 non-null object
Comment_5                                      886 non-null object
Comment_6                                      886 non-null object
Comment_7                                      886 non-null object
Comment_8                                      886 non-null object
target                                         886 non-null int64
Absent Total                                   886 non-null int64
Tardy Total                                    886 non-null int64
Average Grade MS                               886 non-null float64
Average Math Score                             886 non-null float64
Average ELA Score                              886 non-null float64
Num of Above Average Comments                  886 non-null int64
Num of Meets Acceptable Comments               886 non-null int64
Num of Incomplete Work Comments                886 non-null int64
Num of Outstanding Effort Comments             886 non-null int64
Num of Unprepared for Class Comments           886 non-null int64
Num of Inattentive in Class Comments           886 non-null int64
Num of Poor Tests Comments                     886 non-null int64
Num of Conscientious Comments                  886 non-null int64
Num of Improvement Noted Comments              886 non-null int64
Num of Imcomplete Homework Comments            886 non-null int64
Num of Parent Conference Requested Comments    886 non-null int64
Num of Poor Class Attendance Comments          886 non-null int64
Num of Excessive Lateness Comments             886 non-null int64
dtypes: float64(3), int64(28), object(9)
memory usage: 277.0+ KB

#### Save new df

In [57]:
df2.drop(['Unnamed: 0', 'student_ids'], axis=1, inplace=True)

In [58]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 38 columns):
Grade Average 7                                886 non-null int64
Grade Average 8                                886 non-null int64
Math_7_score                                   886 non-null int64
ELA_7_score                                    886 non-null int64
Math_8_score                                   886 non-null int64
ELA_8_score                                    886 non-null int64
Absent Grade 7                                 886 non-null int64
Tardy Grade 7                                  886 non-null int64
Absent Grade 8                                 886 non-null int64
Tardy Grade 8                                  886 non-null int64
Gender                                         886 non-null object
Comment_1                                      886 non-null object
Comment_2                                      886 non-null object
Comment_3                                      886 non-null object
Comment_4                                      886 non-null object
Comment_5                                      886 non-null object
Comment_6                                      886 non-null object
Comment_7                                      886 non-null object
Comment_8                                      886 non-null object
target                                         886 non-null int64
Absent Total                                   886 non-null int64
Tardy Total                                    886 non-null int64
Average Grade MS                               886 non-null float64
Average Math Score                             886 non-null float64
Average ELA Score                              886 non-null float64
Num of Above Average Comments                  886 non-null int64
Num of Meets Acceptable Comments               886 non-null int64
Num of Incomplete Work Comments                886 non-null int64
Num of Outstanding Effort Comments             886 non-null int64
Num of Unprepared for Class Comments           886 non-null int64
Num of Inattentive in Class Comments           886 non-null int64
Num of Poor Tests Comments                     886 non-null int64
Num of Conscientious Comments                  886 non-null int64
Num of Improvement Noted Comments              886 non-null int64
Num of Imcomplete Homework Comments            886 non-null int64
Num of Parent Conference Requested Comments    886 non-null int64
Num of Poor Class Attendance Comments          886 non-null int64
Num of Excessive Lateness Comments             886 non-null int64
dtypes: float64(3), int64(26), object(9)
memory usage: 263.2+ KB

In [59]:
df2.to_csv('df3.csv')

# New df with comments all together as a string
- Import df3, that is the lastest dataframe with all features

In [60]:
import pandas as pd
df3 = pd.read_csv('df3.csv')

In [61]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 39 columns):
Unnamed: 0                                     886 non-null int64
Grade Average 7                                886 non-null int64
Grade Average 8                                886 non-null int64
Math_7_score                                   886 non-null int64
ELA_7_score                                    886 non-null int64
Math_8_score                                   886 non-null int64
ELA_8_score                                    886 non-null int64
Absent Grade 7                                 886 non-null int64
Tardy Grade 7                                  886 non-null int64
Absent Grade 8                                 886 non-null int64
Tardy Grade 8                                  886 non-null int64
Gender                                         886 non-null object
Comment_1                                      886 non-null object
Comment_2                                      886 non-null object
Comment_3                                      886 non-null object
Comment_4                                      886 non-null object
Comment_5                                      886 non-null object
Comment_6                                      886 non-null object
Comment_7                                      886 non-null object
Comment_8                                      886 non-null object
target                                         886 non-null int64
Absent Total                                   886 non-null int64
Tardy Total                                    886 non-null int64
Average Grade MS                               886 non-null float64
Average Math Score                             886 non-null float64
Average ELA Score                              886 non-null float64
Num of Above Average Comments                  886 non-null int64
Num of Meets Acceptable Comments               886 non-null int64
Num of Incomplete Work Comments                886 non-null int64
Num of Outstanding Effort Comments             886 non-null int64
Num of Unprepared for Class Comments           886 non-null int64
Num of Inattentive in Class Comments           886 non-null int64
Num of Poor Tests Comments                     886 non-null int64
Num of Conscientious Comments                  886 non-null int64
Num of Improvement Noted Comments              886 non-null int64
Num of Imcomplete Homework Comments            886 non-null int64
Num of Parent Conference Requested Comments    886 non-null int64
Num of Poor Class Attendance Comments          886 non-null int64
Num of Excessive Lateness Comments             886 non-null int64
dtypes: float64(3), int64(27), object(9)
memory usage: 270.1+ KB

- Create a new columns with all the comments together as one long string

# Cleaning Comments -- for future NLP

### Each comment

In [62]:
updated_com_1 = []
for i in df3['Comment_1']:
    updated_com_1.append(i.split('--')[0])

In [99]:
com_1 = []
for i in updated_com_1:
    com_1.append(i.split('-')[0])

In [64]:
updated_com_2 = []
for i in df3['Comment_2']:
    updated_com_2.append(i.split('--')[0])

In [65]:
com_2 = []
for i in updated_com_2:
    com_2.append(i.split('-')[0])

In [66]:
updated_com_3 = []
for i in df3['Comment_3']:
    updated_com_3.append(i.split('--')[0])

In [67]:
com_3 = []
for i in updated_com_3:
    com_3.append(i.split('-')[0])

In [68]:
updated_com_4 = []
for i in df3['Comment_4']:
    updated_com_4.append(i.split('--')[0])

In [69]:
com_4 = []
for i in updated_com_4:
    com_4.append(i.split('-')[0])

In [70]:
updated_com_5 = []
for i in df3['Comment_5']:
    updated_com_5.append(i.split('--')[0])

In [71]:
com_5 = []
for i in updated_com_5:
    com_5.append(i.split('-')[0])

In [72]:
updated_com_6 = []
for i in df3['Comment_6']:
    updated_com_6.append(i.split('--')[0])

In [73]:
com_6 = []
for i in updated_com_6:
    com_6.append(i.split('-')[0])

In [74]:
updated_com_7 = []
for i in df3['Comment_7']:
    updated_com_7.append(i.split('--')[0])

In [75]:
com_7 = []
for i in updated_com_7:
    com_7.append(i.split('-')[0])

In [76]:
updated_com_8 = []
for i in df3['Comment_8']:
    updated_com_8.append(i.split('--')[0])

In [77]:
com_8 = []
for i in updated_com_8:
    com_8.append(i.split('-')[0])

### `pd.DataFrame([lists], columns=( ))`

In [78]:
comm_1 = pd.DataFrame(com_1, columns=['Com_1'])
comm_2 = pd.DataFrame(com_2, columns=['Com_2'])
comm_3 = pd.DataFrame(com_3, columns=['Com_3'])
comm_4 = pd.DataFrame(com_4, columns=['Com_4'])
comm_5 = pd.DataFrame(com_5, columns=['Com_5'])
comm_6 = pd.DataFrame(com_6, columns=['Com_6'])
comm_7 = pd.DataFrame(com_7, columns=['Com_7'])
comm_8 = pd.DataFrame(com_1, columns=['Com_8'])

### Concat the dataframes

In [79]:
comment_dataframe = pd.concat([comm_1, comm_2, comm_3, comm_4, comm_5, comm_6, comm_7, comm_8], axis=1)

In [88]:
comment_dataframe['Comments'] = (comment_dataframe['Com_1']+'.' + comment_dataframe['Com_2']+'.' + 
                                comment_dataframe['Com_3']+'.' + comment_dataframe['Com_4']+'.' +
                                comment_dataframe['Com_5']+'.' + comment_dataframe['Com_6']+'.' + 
                                comment_dataframe['Com_7']+'.' + comment_dataframe['Com_8']+'.')

In [89]:
comment_dataframe['Comments'][1]

"'Meets acceptable standards of cooperation, work, attitude and effort .'Meets acceptable standards of cooperation, work, attitude and effort .'Meets acceptable standards of cooperation, work, attitude and effort .'Demonstrates above average ability, motivation and attitude in this class.'Meets acceptable standards of cooperation, work, attitude and effort . No Comment .'Conscientious about classroom responsibilities.'Meets acceptable standards of cooperation, work, attitude and effort ."

### Concat the dataframes together to try to get comments into the dataframe

In [82]:
df3 = pd.concat([df3, comment_dataframe], axis=1)

In [83]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 48 columns):
Unnamed: 0                                     886 non-null int64
Grade Average 7                                886 non-null int64
Grade Average 8                                886 non-null int64
Math_7_score                                   886 non-null int64
ELA_7_score                                    886 non-null int64
Math_8_score                                   886 non-null int64
ELA_8_score                                    886 non-null int64
Absent Grade 7                                 886 non-null int64
Tardy Grade 7                                  886 non-null int64
Absent Grade 8                                 886 non-null int64
Tardy Grade 8                                  886 non-null int64
Gender                                         886 non-null object
Comment_1                                      886 non-null object
Comment_2                                      886 non-null object
Comment_3                                      886 non-null object
Comment_4                                      886 non-null object
Comment_5                                      886 non-null object
Comment_6                                      886 non-null object
Comment_7                                      886 non-null object
Comment_8                                      886 non-null object
target                                         886 non-null int64
Absent Total                                   886 non-null int64
Tardy Total                                    886 non-null int64
Average Grade MS                               886 non-null float64
Average Math Score                             886 non-null float64
Average ELA Score                              886 non-null float64
Num of Above Average Comments                  886 non-null int64
Num of Meets Acceptable Comments               886 non-null int64
Num of Incomplete Work Comments                886 non-null int64
Num of Outstanding Effort Comments             886 non-null int64
Num of Unprepared for Class Comments           886 non-null int64
Num of Inattentive in Class Comments           886 non-null int64
Num of Poor Tests Comments                     886 non-null int64
Num of Conscientious Comments                  886 non-null int64
Num of Improvement Noted Comments              886 non-null int64
Num of Imcomplete Homework Comments            886 non-null int64
Num of Parent Conference Requested Comments    886 non-null int64
Num of Poor Class Attendance Comments          886 non-null int64
Num of Excessive Lateness Comments             886 non-null int64
Com_1                                          886 non-null object
Com_2                                          886 non-null object
Com_3                                          886 non-null object
Com_4                                          886 non-null object
Com_5                                          886 non-null object
Com_6                                          886 non-null object
Com_7                                          886 non-null object
Com_8                                          886 non-null object
Comments                                       886 non-null object
dtypes: float64(3), int64(27), object(18)
memory usage: 332.4+ KB

In [84]:
df3.drop(['Comment_1', 'Comment_2', 'Comment_3', 'Comment_4',
               'Comment_5', 'Comment_6', 'Comment_7', 'Comment_8', 'Unnamed: 0', 'Com_1',
         'Com_2', 'Com_3', 'Com_4', 'Com_5', 'Com_6', 'Com_7', 'Com_8'], axis=1, inplace=True)

In [85]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 31 columns):
Grade Average 7                                886 non-null int64
Grade Average 8                                886 non-null int64
Math_7_score                                   886 non-null int64
ELA_7_score                                    886 non-null int64
Math_8_score                                   886 non-null int64
ELA_8_score                                    886 non-null int64
Absent Grade 7                                 886 non-null int64
Tardy Grade 7                                  886 non-null int64
Absent Grade 8                                 886 non-null int64
Tardy Grade 8                                  886 non-null int64
Gender                                         886 non-null object
target                                         886 non-null int64
Absent Total                                   886 non-null int64
Tardy Total                                    886 non-null int64
Average Grade MS                               886 non-null float64
Average Math Score                             886 non-null float64
Average ELA Score                              886 non-null float64
Num of Above Average Comments                  886 non-null int64
Num of Meets Acceptable Comments               886 non-null int64
Num of Incomplete Work Comments                886 non-null int64
Num of Outstanding Effort Comments             886 non-null int64
Num of Unprepared for Class Comments           886 non-null int64
Num of Inattentive in Class Comments           886 non-null int64
Num of Poor Tests Comments                     886 non-null int64
Num of Conscientious Comments                  886 non-null int64
Num of Improvement Noted Comments              886 non-null int64
Num of Imcomplete Homework Comments            886 non-null int64
Num of Parent Conference Requested Comments    886 non-null int64
Num of Poor Class Attendance Comments          886 non-null int64
Num of Excessive Lateness Comments             886 non-null int64
Comments                                       886 non-null object
dtypes: float64(3), int64(26), object(2)
memory usage: 214.7+ KB

- Save new df with comments as a single column

In [86]:
df3.to_csv('df4.csv')